pytezos==3.6.1
pydantic==1.10.1
PyJWT==2.3.0
fastapi==0.89.0
starlette==0.22.0
emails==0.6
requests==2.28.1
itsdangerous==2.0.1
APScheduler==3.8.1
python-dotenv==0.19.2
uvicorn==0.16.0
loguru==0.6.0
dnspython==2.2.1
loggly-python-handler==1.0.1
email-validator==1.2.1
jinja2==3.0.3
google==3.0.0
sentry-sdk==1.9.4
google-auth==2.3.3
nox==2022.8.7
pytest==7.1.2
poetry==1.1.12
isort==5.10.1
black==22.6.0
mypy==0.971
web3==6.0.0b4
py-solc-x==1.1.1
frozendict==2.3.0
mnemonic==0.20
pendulum==2.1.2
async_lru==1.0.3
construct==2.10.67
solana==0.25.1
# pymongo==4.2.0
bitcoinlib==0.6.5
scout_apm==2.26.1
qrcode==7.3.1
pillow==9.2.0
python-socketio==5.7.1
boto3==1.17.54
fastapi_restful==0.4.3
scrypt==0.8.20
google_api_python_client==2.60.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2